
*{
  margin-bottom: 10px;
  padding: 0px;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html
{
    height: 100%;
}

body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background: rgb(146, 175, 194);
  background: linear-gradient(90deg, rgb(146, 175, 194) 0%, rgb(33, 131, 150) 60%, rgb(0, 140, 255) 100%) fixed;
  flex-direction: column;
  flex-wrap: wrap;
}

.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;

  input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: beige;
  }

  button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  
  button img{
    width: 25px;
  }
}
.Card-info-container{
  div{
    display: flex;
    width: 800px;
    height: 500px;
  }
}

.parent-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 13px;
}

.box-glass{
    margin-top: 40PX;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.info-card{
      background: transparent;
      border: 0;
      padding: 24px 20px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  color: beige;
}

.day-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.size-card-hour{
  max-width: 213px;
}

.btn-radius{
  border-radius: 20px;
}